// **========================================= +++++++++++++++++++++++++ ========================================** //
// **========================================= GOODREADS DOWNLOAD EBOOKS ========================================** //
// **========================================= +++++++++++++++++++++++++ ========================================** //

ebooks-download {
    h1 {
        font-size: 30px;
        line-height: 1em;
        .goodreads-logo {
            height: 30px;
            width: auto;
        }
    }
}