<!doctype html>
<html lang="en">
    <head>
        <!-- <meta charset="utf-8"> -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Clip Player</title>
        <meta name="description" content="Watch clip from Play.it">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="music player radio radio.com listen audio play.it"> -->

        <link rel="stylesheet" href="<%= base%>/dist/stylesheets/main.css">
        <script src="<%= base%>/dist/scripts/all.min.js"></script>
    </head>
    <body>
        <app data-version="<%= version %>">app not working</app>
    </body>
</html>