<span>blog control center component</span>

<!-- TO DO: display data w/ functions to edit and delete-->
<div *ngFor="let post of blogPostsService.blogPosts">
	{{post | json}}
	<div class="btn" (click)="onTriggerEditModal(post.id)">edit</div>
	<div class="btn" (click)="blogPostsService.delete(post.id)">delete</div>
</div>

<div *ngIf="openEditor">
	<form *ngIf="openEditor=='create'" class="post-create-form" (ngSubmit)="onSubmit('create', $event)" #createForm="ngForm">
		CREATE NEW POST
		<!-- <div class="form-group">
			<label for="post-title">Title</label>
			<input type="text" class="form-control" id="post-title" required placeholder="Post Title">
		</div>
		<div class="form-group">
			<label for="post-description">Description</label>
			<input type="text" class="form-control" id="post-description" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="post-tldr">TL;DR</label>
			<input type="text" class="form-control" id="post-tldr" placeholder="Yada yada... summareze pl0x">
		</div>
		<div class="form-group">
			<label for="post-body">Post Body</label>
			<textarea class="form-control" id="post-body" required placeholder="Write in markdown">
		</div>
		<div class="form-group">
			<label for="post-image">Add image</label>
			<input type="file" id="post-image">
			<p class="help-block">Add main image for post's cover art / thumbnail.</p>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Private?
			</label>
		</div>
		<div class="form-group">
			<label for="post-tags">Tags</label>
			<input type="text" class="form-control" id="post-tags" placeholder="Add tags">
		</div>
		<div class="form-group">
			<label for="post-categories">Categories</label>
			<input type="text" class="form-control" id="post-categories" placeholder="Place in categories">
		</div>
		<button [disabled]="!createForm.form.valid" type="submit" class="btn btn-default">Create New Post</button> -->
	</form>

	<form *ngIf="openEditor=='edit'" class="post-edit-form" (ngSubmit)="onSubmit('edit', $event)" #editForm="ngForm">
		EDIT POST #{{currentlyEditing.id}}
		<!-- <div class="form-group">
			<label for="post-title">Title</label>
			<input type="text" class="form-control" id="post-title" required [value]="currentlyEditing.title" placeholder="Post Title">
		</div>
		<div class="form-group">
			<label for="post-description">Description</label>
			<input type="text" class="form-control" id="post-description" [value]="currentlyEditing.description" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="post-tldr">TL;DR</label>
			<input type="text" class="form-control" id="post-tldr" [value]="currentlyEditing.tldr" placeholder="Yada yada... summareze pl0x">
		</div>
		<div class="form-group">
			<label for="post-body">Post Body</label>
			<textarea class="form-control" id="post-body" required [value]="currentlyEditing.body" placeholder="Write in markdown">
		</div>
		<span>Current Image:</span>
		<img src="currentlyEditing.image" alt="">
		<div class="form-group">
			<label for="post-image">Change image</label>
			<input type="file" id="post-image">
			<p class="help-block">Add main image for post's cover art / thumbnail.</p>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" [checked]="currentlyEditing.private"> Private?
			</label>
		</div>
		<div class="form-group">
			<label for="post-tags">Tags</label>
			<input type="text" class="form-control" id="post-tags" [value]="currentlyEditing.tags.toString" placeholder="Add tags">
		</div>
		<div class="form-group">
			<label for="post-categories">Categories</label>
			<input type="text" class="form-control" id="post-categories" [value]="currentlyEditing.categories.toString" placeholder="Place in categories">
		</div>
		<button [disabled]="!editForm.form.valid" type="submit" class="btn btn-default">Edit Post</button> -->
	</form>
</div>