<div [ngClass]="{debug:debug}">
	<div class="app-settings">
		<!-- Split button -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger">App Version</button>
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li *ngFor="let version of versionsService.versions">
					<a [routerLink]="['v/'+version.name]">{{version.name}}</a>
				</li>
				<li role="separator" class="divider"></li>
				<li (click)="messageService.broadcast('activateRoulette', [])"><a [routerLink]="['roulette/versions']">let's play roulette!</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-danger">Projects</button>
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li *ngFor="let project of projectsService.projects">
					<a [routerLink]="['project/'+project.title]">{{project.title}}</a>
				</li>
				<li role="separator" class="divider"></li>
				<li (click)="messageService.broadcast('activateRoulette', [])"><a [routerLink]="['roulette/projects']">let's play roulette!</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-info">Navigation</button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<ul>
					<span>Versions</span>
					<li (click)="messageService.broadcast('activateRoulette', [])"><a [routerLink]="['roulette/versions']">Versions Roulette</a></li>
					<li *ngFor="let version of versionsService.versions"><a [routerLink]="['v/'+version.name]">Version: {{version.name}}</a></li>
				</ul>
				<ul>
					<span>Projects</span>
					<li (click)="messageService.broadcast('activateRoulette', [])"><a [routerLink]="['roulette/projects']">Projects Roulette</a></li>
					<li *ngFor="let project of projectsService.projects"><a [routerLink]="['project/'+project.title]">Project: {{project.title}}</a></li>
				</ul>
				<li><a [routerLink]="['admin']">Dashboard - Admin Login</a></li>
				<li (click)="messageService.broadcast('activateRoulette', [])"><a [routerLink]="['']">Home / Versions Roulette</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-warning debug-btn" (click)="debug=!debug">DEBUG: {{debug}}</button>
	</div>
	<router-outlet></router-outlet>

</div>