<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Heartsome</title>
        <meta name="description" content="Tiffany Chow's Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="web development portfolio tiffany chow app developer full stack frontend design software engineer angular angular2 react">

        <link rel="stylesheet" href="./../node_modules/font-awesome/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script type="text/javascript">
        	var basePath = window.location.origin;
        </script>
    </head>
    <body>
        <app>
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">App Loading...</span>
        </app>
    </body>
</html>
